{% extends 'base.html' %}
{% load static %} 
{% block content %}
  <div>
    <table class = 'line_table'>
      <thead>
        <tr>
          <th   style = "font-weight: bold;
          font-size: 18px;">Den</th>
          <th>Zastávky</th>
        </tr>
      </thead>
      <tbody>
      {% for day in days %}
        <tr>
          <td>
          <b>{{ day.day_name }}</b>
          </td>
          <td><ul>
                {% for stop in day.attractions_set.all %}
                <a href = "{% url 'details' stop.id %}">
                    <li>{{ stop.stop_number }}</li>
                  <div >{{ stop.name }}</div>
              </a>  {% endfor %}
            </ul>
          </td>
          {% endfor %}

        </tr>
      </tbody>
    </table>
  </div>

</br>
<a href="{% url 'create_day' %}" class = 'add_day'
style="width: 90%; padding: 4px; display: inherit; text-align: center; 
border-radius: 15px; text-decoration: none; color: i
nherit; background-color: rgb(250, 250, 198, 0.9);">➕</a>

{% endblock %}